<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Listar todos os cursos</p>

    <hr/> 
    <p>Listar cursos em ordem alfabética</p>
    
    <hr/> 
    <p>Listar cursos em ordem alfabética inversa</p>

    <hr/> 
    <p>Listar dados do curso de Android</p>
    
    <hr/>
    <p>Listar cursos com menos de 50 vagas</p>

    <hr/> 
    <p>Listar cursos com mais de 50 vagas</p>

    <hr/>
    <p>Listar cursos que possuem vagas entre 35 e 70 vagas</p>

    <hr />
    <p>Listar cursos que iniciam apenas em 2023</p>

    <hr />
    <p>Listar cursos que iniciam no mês de dezembro de 2022</p>

    <hr />
    <p>Listar cursos que são da área de Informática</p>

    <hr />
    <p>Listar cursos que são da área de Eletromecânica</p>

    <hr />
    <p>Listar cursos que são voltados para o público Docentes</p>

    <hr />
    <p>Listar cursos que são voltados para o público Docentes e Discentes</p>

    <hr />
    <p>Listar cursos que são voltados para o público Docentes ou Discentes</p>

    <hr />
    <p>Listar cursos que são voltados para o público Externo</p>

    <hr />
    <p>Listar cursos da área de Informática e que são voltados para o público Externo</p>

    <hr />
    <p>Listar cursos da área de Informática, que são voltados para o público Discentes e que possuam mais de 40 vagas</p>

    <hr />
    <p>Quantidade de cursos que são da área de Informática</p>

    <hr />
    <p>Quantidade de cursos que são voltados para o público externo</p>

    <hr />
    <p>Quantidade de cursos que são da área de Eventos e voltados para o público externo</p>
    
</body>
</html>